-r ../../Odoo/odoo-base/requirements.txt
-r ../../Odoo/odoo-enterprise/requirements.txt
printnodeapi @ git+https://github.com/cbusillo/PrintNode-Python@master
shopifyapi>=12.7.0
pdfminer.six
odoo_upgrade @ git+https://github.com/odoo/upgrade-util@master
simple_zpl2 @ git+https://github.com/cbusillo/simple_zpl2@master

pillow>=11.0.0
odoo>=18.0
simple_zpl2>=0.3.0
qrcode>=7.4.2
requests>=2.31.0
python-dateutil>=2.8.2
PrintNodeApi>=0.2.0
rich>=13.9.4