$o-brand-odoo: #E65938;
$o-brand-primary: #1071B6;

.large-toggle .o_boolean_toggle {
  transform: scale(1.5);
  transform-origin: left center;
}

.o_spacer_column {
  width: 100%;
}

.sc_refresh_button_row {
  width: 10px;
}

.sc_full_width {
  width: 100%;
}

.o_list_open_form_view {
  width: 40px !important;
}

.o_selection_badge.btn-reset {
  padding: 0.1rem 0.25rem;
  font-size: 0.5rem;
}

.o_form_view .o_form_sheet_bg, .o_form_view .o_form_sheet {
  width: 100%; /* Ensures no additional padding or margin within form view */
  max-width: none; /* Removes any max-width restrictions */
}

.o_list_view .text-nowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 200px; /* Adjust this value as needed */
}

.o_list_view .o_data_cell .green_checkmark {
  display: inline-block;
  font-family: "FontAwesome", serif;
  font-size: 1.2em;
  color: #28a745; /* Green color */
  width: 20px;
  text-align: center;
}

.o_list_view .o_data_cell .green_checkmark input {
  display: none;
}

.o_list_view .o_data_cell .green_checkmark:before {
  content: "\f00c"; /* FontAwesome checkmark */
}

/* Default collapsed view: single line with ellipsis */
.sc_text_limited_lines {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Display as a single line */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: max-height 0.2s ease-in-out;
  max-height: 1.5em; /* Height for a single line */
}

/* Expanded view with a max height of 5 lines when the row is active */
.o_list_view .o_data_row:focus-within .sc_text_limited_lines {
  -webkit-line-clamp: unset; /* Disable line clamping */
  white-space: normal;
  overflow-y: auto;
  max-height: 15em; /* Approximately five lines based on font size */
}
